.col-md-12.page-header
  %h1 Contact
.col-md-12
  %address.lead
    Andrew Kofink
    %br
    = link_to 'mailto:ajkofink@gmail.com' do
      ajkofink@gmail.com
    %br
    = link_to 'http://akofink.com', target: '_blank' do
      = fa_icon 'code'
    = link_to 'https://twitter.com/akofink', target: '_blank' do
      = fa_icon 'twitter'
    = link_to 'https://github.com/akofink', target: '_blank' do
      = fa_icon 'github'
